@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* This 
is 
a comment! */

/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type selector */

p { /* select all <p> */
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", serif;*/
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive; 
  /* Note: Georgia is MUCH easier to see than either of the imported fonts. */
  color: #777;
  text-align: right;
}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em "Elsie Swash Caps", cursive;
  /* I may change the font to Clicker Script later. */
  color: white;
  text-shadow: 0 2px 3px #000;
  
  /* Alternative background (without the image):
  background-color: #3297FD;
  display: inline-block; */
}

/*.milk-text::selection {
  background-color: red;
}*/


/* ID selector (apply to one unique element per page) */

#logo {  /* select elements with id="logo" */
  background: aqua;
}

/* Descendant Selector */

#logo h1 { /* selects <h1> if inside id="logo" */
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}

/* Pseudo-Class Selector */

#details a:link, a:visited { 
  /* Remember to comma-separate selectors that have the same property values!
  This is called a compound selector. */
  color: black;
  text-decoration: underline; /* This was set to none, but that makes it impossible to tell links apart from regular text. */
}

#details a:hover { 
  color: blue; /* This was set to black. I changed it for more contrast. */
  text-decoration: underline;
}

#details a:active {
  color: red;
}

/* This may be better form (possibly NOT, given the usual pseudo-class order):
#details a:link, a:hover, a:visited {
  text-decoration: underline;
}

#details a:link, a:visited {
  color: black;
}

#details a:hover {
  color: blue;
}

#details a:active {
  color: red;
} */

nav a:link {
  color: #03a9f4;
}

nav a:visited {
  color: purple;
}

nav a:hover { /* Webkit might only be mainly supported by Chrome and Safari. */
  background: linear-gradient(to right, red, #00ff7f, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* This will somehow override the nav a:active color in some browsers. However, if I use "color: transparent;", this will render the text invisible in OTHER browsers!  More experimentation is needed; it may be a bug. */
  color: black; /* For non-Webkit-supported browsers. */
  text-decoration-color: black; /* This is not supported in Edge/IE. */
}

nav a:active {
  color: white; /* This works in Firefox, but not in other browsers. */
}
